<div class="bg-dark footer text-center">
    <footer>
        <span id="date" class="text-light"></span>
    </footer>
</div>
<script>
    let date = new Date();
    let year = date.getFullYear();
    document.getElementById('date').innerHTML = year
    console.log(year)
</script>